$header: #000520;
$text-color: #bfbfbf;
$text-hover-color: #02b9ff;
$text-title-color: #1e57c5;
$text-main-title-color: #568bf1;
$bg-color: #0b0f14;
$dice-bg-blue: linear-gradient(to right, #59b0ff, #5159ff);
$dice-bg-yellow: linear-gradient(to right, #ffe259, #ffa751);